.table{
   
   width: 100%;
   th{
      // display: table-cell;
      text-align: unset;
   }
   th{
      padding: 8px 5px;
   }
   td{
      padding: 12px 5px;
   }
}
.button{
   // width: 100%;
   // padding: 10px 15px;
   padding: 10px 15px;


}
