.sidebar{
   background: var(--green-03);
   position: sticky;
   top: 50px;
}

.btn{
   padding: 12px 5px;
   border-bottom: 1px solid var(--green-04);
   color: white;
   background: var(--green-03);
}