   $green: #20B2AA;
   // $green-02: rgb(33, 179, 171,0.2);
   $green-01: rgb(33, 179, 171, 0.1);
   $green-03: rgb(33, 179, 171, 0.3);
   $green-04: hsl(177, 70%, 41%, 0.4);

   $green-05: rgb(33, 179, 171, 0.5);

   $green-08: hsl(177, 70%, 41%, 0.8);
   // $green-09:hsl(177, 70%, 41%,0.9);

   $green1: #008B8B;
   $green2: #48D1CC;
   $green3: teal;

   $grey: #ddd;
   // https://www.quackit.com/css/css_color_codes.cfm